.main{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   width: 90%;
   margin: 0 auto;
   text-align: center;
   margin-top: 40px;
   margin-bottom: 20px;
}
.head h1{
    text-align: center;
    color: rgb(45, 88, 88);
}
.all-grid{
    box-shadow: 10px 10px 5px grey;
    margin-left: 20px;
    padding: 20px;
}
.all-grid i{
    font-size: 50px;
}
.all-grid:hover{
    border:2px solid purple;
    border-radius: 20px;
}

@media only screen and (max-width: 688px) {
    .main{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 689px) and (max-width: 991px) {
    .main{
        grid-template-columns: repeat(2, 1fr);
    }
}