.login{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(54, 49, 49);
    padding: 50px;
}
.login input{
    width: 300px;
    margin-top: 10px;
    border-radius: 5px;
    border:1px solid grey ;
}
.button{
    background-color: darkslategray;
    border: 1px solid grey;
    padding: 3px;
    color: white;
    font-size: 17px;
    font-weight: 700;
}
.login p{
    margin-top: 15px;
}
.login label{
    font-size: 20px;
    font-weight: 700;
}
.login h1{
    text-align: center;
    color: rgb(180, 142, 65);
}
.login button{
    border: 1px solid grey;
    width: 100px;
    background-color: rgb(80, 90, 90);
    font-size: 20px;
    border-radius: 10px;
    color: white;
    padding: 5px;
}
.login a{
    text-decoration: none;
}
.color{
    background-color: rgb(60, 60, 112);
    padding: 40px;
    color: white;
}